/* ===== Parallax =====*/
#parallax {
  margin: 0px;
  padding: 0px;
}
.parallax-container {
  overflow: hidden;
  margin: 0px;
  width: 100%;
  height: 70vh;
}

.parallax-image {
  background: url(../images/fruit_smothie.jpg) no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
