/* Font-Colors */
$main-green: #49A010;
$main-pink: #c85856;
$main-orange: #ffe311;
$main-white: #ffffff;

/* Background-Colors*/
$olive: #b6e45e;
$light-pink: #E6B3B2;

/* Screen size */
$tablet: 860px;
$desktop: 1024px;
$mobile: 480px;
